body{
    
}
.topBar {
    background-color: #304e35;
    height:50px;
}
.mid {
    background-color: #304e35;
    height:50px;
}
.button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.selectBox1 {
    float: left;
    margin-left: 13px;
    width: 300px;
    height: 30px;
    margin-top:8px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}


.okbutton {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 4px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.zoom_btn {
    float: right;
}
.audio-control {
    float: right;
    margin-right: 28px;
    margin-bottom: 20px;
}
.audio-control-home2 {
    float: right;
    margin-right: 55px;
    margin-bottom: 20px;
}