{% load static %}
<!doctype html>
<html lang="en">
  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- jQuery -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
	<!--Custom css ADD HERE-->
	
	<!-- semantic UI -->
	<!-- <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> -->

	<link rel="stylesheet" href="{%static 'myapp/home.css' %}">
	<title>home</title>
  </head>
  <body>

	<div id="main">
		<div class="topBar">
            <button class="button">PLAY L AND R</button>
		</div>
		<div class="mid">
			<form method="post">
				<div class="selectBox1">
					{% csrf_token %}
					{{ aform }}
				</div>
				<button type="submit" class="okbutton"> Select </button>
			</form>
			
		</div>
		<div class="mid2">
			<button class="zoom_btn">zoom in (+)</button>
			<button class="zoom_btn">zoom out (-)</button>
		</div>
		<img class = "image_class" src="{%static 'images/new_file.png' %}" alt="" style="width:100%; height:20%; margin-left: auto; margin-right: auto;">
	</div>	
    
	<div id="bottom">
        <div class="audio-control-home2">
            <audio controls class="audio-control-home2">
                <source src="{%static 'medias/korean2.mp3' %}" type="audio/mpeg">
            </audio>
        </div>
        <div>
            <button type="button">
            <a href="{% url 'home' %}">Back to Interface 1</a>
            </button>
        </div>
    </div>

</body>
</html>